.searchBox{
    background-color:grey;
    font-size: 20px;
    text-align: center;
    height: 2.25em;
    padding-top:.25em;
}

.searchButton{
    font-size:14px;
}



.actualBox{
    height:1.25em;
    width:30em;
}
